In [58]:
import yfinance as yf
import pandas as pd 
tickers = yf.download('msft aapl goog',period="5y")
ticker=['msft aapl goog']

[*********************100%%**********************]  3 of 3 completed

In [60]:
tickers["Close"]

                  AAPL        GOOG        MSFT
Date
2018-08-27   54.485001   62.091000  109.599998
2018-08-28   54.924999   61.557499  110.260002
2018-08-29   55.744999   62.465000  112.019997
2018-08-30   56.257500   61.956001  111.949997
2018-08-31   56.907501   60.909500  112.330002
...                ...         ...         ...
2023-08-21  175.839996  128.929993  321.880005
2023-08-22  177.229996  129.690002  322.459991
2023-08-23  181.119995  133.210007  327.000000
2023-08-24  176.380005  130.419998  319.970001
2023-08-25  178.610001  130.690002  322.980011

[1258 rows x 3 columns]

In [67]:
prices=pd.DataFrame(tickers["Close"])

In [68]:
prices

                  AAPL        GOOG        MSFT
Date
2018-08-27   54.485001   62.091000  109.599998
2018-08-28   54.924999   61.557499  110.260002
2018-08-29   55.744999   62.465000  112.019997
2018-08-30   56.257500   61.956001  111.949997
2018-08-31   56.907501   60.909500  112.330002
...                ...         ...         ...
2023-08-21  175.839996  128.929993  321.880005
2023-08-22  177.229996  129.690002  322.459991
2023-08-23  181.119995  133.210007  327.000000
2023-08-24  176.380005  130.419998  319.970001
2023-08-25  178.610001  130.690002  322.980011

[1258 rows x 3 columns]

In [69]:
monthly_prices = prices.resample('M').last()

In [70]:
"""monthly_prices"""
delta=prices.diff()
delta.iloc[0,:]=0
delta

                AAPL      GOOG      MSFT
Date
2018-08-27  0.000000  0.000000  0.000000
2018-08-28  0.439999 -0.533501  0.660004
2018-08-29  0.820000  0.907501  1.759995
2018-08-30  0.512501 -0.508999 -0.070000
2018-08-31  0.650002 -1.046501  0.380005
...              ...       ...       ...
2023-08-21  1.349991  0.819992  5.399994
2023-08-22  1.389999  0.760010  0.579987
2023-08-23  3.889999  3.520004  4.540009
2023-08-24 -4.739990 -2.790009 -7.029999
2023-08-25  2.229996  0.270004  3.010010

[1258 rows x 3 columns]

In [75]:
delta.columns.tolist()

['AAPL', 'GOOG', 'MSFT']

In [90]:


period = 14
for i in delta.columns.tolist():
    # Calculate the average gain and average loss for the specified period
    gain = pd.DataFrame(delta.loc[:,i]).where(delta > 0, 0)
    loss = -pd.DataFrame(delta.loc[:,i]).where(delta < 0, 0)
    avg_gain = gain.rolling(period).mean().dropna()
    avg_loss = loss.rolling(period).mean().dropna()

    # Calculate the Relative Strength (RS) by dividing the average gain by the average loss
    rs = avg_gain / avg_loss

    # Calculate the Relative Strength Index (RSI)
    rsi = 100 - (100 / (1 + rs))
    colname='RSİ_'+i
    # Add the RSI to the dataframe
    prices[colname] = rsi
# Print the dataframe
print(prices.dropna())

                  AAPL        GOOG        MSFT   RSİ_AAPL   RSİ_GOOG  \
Date
2018-09-14   55.959999   58.626499  113.370003  58.046908  27.798795
2018-09-17   54.470001   57.802502  112.139999  49.929613  25.143474
2018-09-18   54.560001   58.061001  113.209999  48.229025  29.066650
2018-09-19   54.592499   58.554501  111.699997  43.945362  25.366932
2018-09-20   55.007500   59.343498  113.570000  43.365179  34.104025
...                ...         ...         ...        ...        ...
2023-08-21  175.839996  128.929993  321.880005  15.545500  41.685404
2023-08-22  177.229996  129.690002  322.459991  21.626625  53.429125
2023-08-23  181.119995  133.210007  327.000000  32.983410  61.871618
2023-08-24  176.380005  130.419998  319.970001  38.820251  54.421445
2023-08-25  178.610001  130.690002  322.980011  49.503711  46.552688

             RSİ_MSFT
Date
2018-09-14  64.901192
2018-09-17  59.149851
2018-09-18  60.321887
2018-09-19  48.860401
2018-09-20  55.113639
...               ...
2023-08-21  31.751607
2023-08-22  41.964245
2023-08-23  50.484879
2023-08-24  40.468618
2023-08-25  41.440593

[1245 rows x 6 columns]

In [64]:
outlier_cutoff = 0.01
data = pd.DataFrame()
lags = [1, 2, 3, 6, 9, 12]
for lag in lags:
    data[f'return_{lag}m'] = (monthly_prices
                            .pct_change(lag)
                            .stack()
                            .pipe(lambda x:
x.clip(lower=x.quantile(outlier_cutoff),
                        upper=x.quantile(1-outlier_cutoff)))
                            .add(1)
                            .pow(1/lag)
                            .sub(1)
                        )
data = data.swaplevel().dropna()
data

                    return_1m  return_2m  return_3m  return_6m  return_9m  \
tickers 2019-08-31  -0.020184   0.026971   0.060388   0.031646   0.017490
        2019-09-30   0.072962   0.025332   0.042078   0.027839   0.039720
        2019-10-31   0.110684   0.091660   0.053028   0.036453   0.045662
        2019-11-30   0.074329   0.092355   0.085852   0.073044   0.049407
        2019-12-31   0.098784   0.086487   0.094494   0.067964   0.049594
        2020-01-31   0.054010   0.076164   0.075552   0.064230   0.049326
        2020-02-29  -0.116798  -0.035166   0.007563   0.045976   0.050758
        2020-03-31  -0.069761  -0.093585  -0.046839   0.021386   0.028237
        2020-04-30   0.155374   0.036713  -0.017214   0.028123   0.036359
        2020-05-31   0.082165   0.118170   0.051647   0.029369   0.047863
        2020-06-30   0.147386   0.114298   0.127825   0.036822   0.055700
        2020-07-31   0.165132   0.156225   0.130992   0.054288   0.061329
        2020-08-31   0.199190   0.170316   0.150460   0.108200   0.075878
        2020-09-30  -0.102526   0.043970   0.082889   0.105129   0.051955
        2020-10-31  -0.060012  -0.081515   0.008090   0.067774   0.038658
        2020-11-30   0.093606   0.013892  -0.026502   0.069648   0.063613
        2020-12-31   0.114574   0.104040   0.046399   0.064487   0.080523
        2021-01-31  -0.005502   0.052826   0.066247   0.036761   0.067265
        2021-02-28  -0.081085  -0.044040   0.006150  -0.010311   0.048048
        2021-03-31   0.007340  -0.037888  -0.027212   0.008923   0.032999
        2021-04-30   0.076218   0.041209  -0.001265   0.031939   0.023928
        2021-05-31  -0.052107   0.010019   0.009125   0.007637  -0.003874
        2021-06-30   0.099109   0.020705   0.038883   0.005293   0.018812
        2021-07-31   0.064982   0.081911   0.035255   0.016831   0.033044
        2021-08-31   0.040930   0.052887   0.068075   0.038182   0.027393
        2021-09-30  -0.068037  -0.015059   0.010930   0.024811   0.007168
        2021-10-31   0.058657  -0.006708   0.008924   0.022005   0.014189
        2021-11-30   0.103471   0.080832   0.028739   0.048222   0.035024
        2021-12-31   0.074229   0.088752   0.078626   0.044230   0.042444
        2022-01-31  -0.015712   0.028275   0.052753   0.030606   0.032153
        2022-02-28  -0.055270  -0.035694  -0.000363   0.014083   0.031770
        2022-03-31   0.057473  -0.000486  -0.005588   0.035664   0.027353
        2022-04-30  -0.097131  -0.022882  -0.033799   0.008549   0.008674
        2022-05-31  -0.055883  -0.076737  -0.034008  -0.017330  -0.002208
        2022-06-30  -0.081430  -0.068744  -0.078304  -0.042636  -0.003811
        2022-07-31   0.188634   0.044913   0.010172  -0.012058   0.009090
        2022-08-31  -0.032552   0.072353   0.018426  -0.008138  -0.005553
        2022-09-30  -0.120977  -0.077824   0.003595  -0.038226  -0.027467
        2022-10-31   0.109551  -0.012416  -0.019174  -0.004609  -0.014436
        2022-11-30  -0.034629   0.034954  -0.019877  -0.000909  -0.012066
        2022-12-31  -0.122273  -0.079493  -0.020359  -0.008454  -0.030479
        2023-01-31   0.110521  -0.012713  -0.020073  -0.019624  -0.009791
        2023-02-28   0.021623   0.065145  -0.001398  -0.010681  -0.001072
        2023-03-31   0.118649   0.069036   0.082689   0.029877   0.021041
        2023-04-30   0.028987   0.072882   0.055516   0.017019   0.004809
        2023-05-31   0.044613   0.036771   0.063375   0.030480   0.013413
        2023-06-30   0.094330   0.069183   0.055613   0.069065   0.038385
        2023-07-31   0.012785   0.052769   0.050043   0.052776   0.027910
        2023-08-31  -0.090812  -0.040410   0.002551   0.032515   0.021085

                    return_12m
tickers 2019-08-31   -0.007193
        2019-09-30   -0.000656
        2019-10-31    0.010728
        2019-11-30    0.034166
        2019-12-31    0.053151
        2020-01-31    0.053056
        2020-02-29    0.038786
        2020-03-31    0.024607
        2020-04-30    0.032280
        2020-05-31    0.050980
        2020-06-30    0.052278
        2020-07-31    0.059247
        2020-08-31    0.071041
        2020-09-30    0.062433
        2020-10-31    0.047761
        2020-11-30    0.049315
        2020-12-31    0.050564
        2021-01-31    0.045488
        2021-02-28    0.048947
        2021-03-31    0.055931
        2021-04-30    0.049704
        2021-05-31    0.038179
        2021-06-30    0.034467
        2021-07-31    0.026748
        2021-08-31    0.013646
        2021-09-30    0.016836
        2021-10-31    0.026960
        2021-11-30    0.027729
        2021-12-31    0.024576
        2022-01-31    0.023695
        2022-02-28    0.026062
        2022-03-31    0.030223
        2022-04-30    0.015255
        2022-05-31    0.014917
        2022-06-30   -0.000146
        2022-07-31    0.009048
        2022-08-31    0.002911
        2022-09-30   -0.001965
        2022-10-31    0.001948
        2022-11-30   -0.009153
        2022-12-31   -0.020832
        2023-01-31   -0.015848
        2023-02-28   -0.009410
        2023-03-31   -0.004757
        2023-04-30    0.006147
        2023-05-31    0.014664
        2023-06-30    0.029576
        2023-07-31    0.015931
        2023-08-31    0.010687

In [65]:
for lag in [2,3,6,9,12]:
    data[f'momentum_{lag}'] = data[f'return_{lag}m'].sub(data.return_1m)
data[f'momentum_3_12'] = data[f'return_12m'].sub(data.return_3m)

In [66]:
data.index

MultiIndex([('tickers', '2019-08-31'),
            ('tickers', '2019-09-30'),
            ('tickers', '2019-10-31'),
            ('tickers', '2019-11-30'),
            ('tickers', '2019-12-31'),
            ('tickers', '2020-01-31'),
            ('tickers', '2020-02-29'),
            ('tickers', '2020-03-31'),
            ('tickers', '2020-04-30'),
            ('tickers', '2020-05-31'),
            ('tickers', '2020-06-30'),
            ('tickers', '2020-07-31'),
            ('tickers', '2020-08-31'),
            ('tickers', '2020-09-30'),
            ('tickers', '2020-10-31'),
            ('tickers', '2020-11-30'),
            ('tickers', '2020-12-31'),
            ('tickers', '2021-01-31'),
            ('tickers', '2021-02-28'),
            ('tickers', '2021-03-31'),
            ('tickers', '2021-04-30'),
            ('tickers', '2021-05-31'),
            ('tickers', '2021-06-30'),
            ('tickers', '2021-07-31'),
            ('tickers', '2021-08-31'),
            ('tickers', '2021-09-30'),
            ('tickers', '2021-10-31'),
            ('tickers', '2021-11-30'),
            ('tickers', '2021-12-31'),
            ('tickers', '2022-01-31'),
            ('tickers', '2022-02-28'),
            ('tickers', '2022-03-31'),
            ('tickers', '2022-04-30'),
            ('tickers', '2022-05-31'),
            ('tickers', '2022-06-30'),
            ('tickers', '2022-07-31'),
            ('tickers', '2022-08-31'),
            ('tickers', '2022-09-30'),
            ('tickers', '2022-10-31'),
            ('tickers', '2022-11-30'),
            ('tickers', '2022-12-31'),
            ('tickers', '2023-01-31'),
            ('tickers', '2023-02-28'),
            ('tickers', '2023-03-31'),
            ('tickers', '2023-04-30'),
            ('tickers', '2023-05-31'),
            ('tickers', '2023-06-30'),
            ('tickers', '2023-07-31'),
            ('tickers', '2023-08-31')],
           )

In [57]:
for t in range(1, 7):
    data[f'return_1m_t-{t}'] =data.groupby(['tickers']).return_1m.shift(t)

KeyError: 'tickers'

In [1]:
import numpy as np

# note that all ndarrays must be the same length!
inputs = {
    'open': np.random.random(100),
    'high': np.random.random(100),
    'low': np.random.random(100),
    'close': np.random.random(100),
    'volume': np.random.random(100)
}

In [2]:
from talib import abstract

# directly
SMA = abstract.SMA

# or by name
SMA = abstract.Function('sma')

In [4]:
from talib.abstract import *

# uses close prices (default)
output = SMA(inputs, timeperiod=25)

# uses open prices
output = SMA(inputs, timeperiod=25, price='open')

# uses close prices (default)
upper, middle, lower = BBANDS(inputs, 20, 2.0, 2.0)

# uses high, low, close (default)
slowk, slowd = STOCH(inputs, 5, 3, 0, 3, 0) # uses high, low, close by default

# uses high, low, open instead
slowk, slowd = STOCH(inputs, 5, 3, 0, 3, 0, prices=['high', 'low', 'open'])

In [7]:
slowk

array([          nan,           nan,           nan,           nan,
                 nan,           nan,           nan,           nan,
         42.60105644,   51.00887564,   39.32116311,   74.64196089,
         62.58233457,   51.86452072,   34.43398581,   38.40580157,
         46.5991725 ,   38.91455911,   57.01904349,   56.88855141,
         57.63408617,   30.38143121,   44.23670098,  127.4947774 ,
        169.6443916 ,   49.07069684,  327.89616116,  247.49787986,
        352.70595762,  -26.96086418,   21.51698874,   25.04635137,
         51.36368253,   44.44278849,   28.01527079,   20.21974531,
         -4.59643717,  -36.03978587,    9.47646936,   48.5377782 ,
        -49.03831076,   29.11208435,  143.46403963, -178.16225045,
       -305.63794236, -425.86260524,   44.55338253,   41.11885764,
         17.79357273,    6.48328418,   18.19261487,   40.00719451,
         59.13764534,   73.64216375,   56.32821673,   60.27948847,
         67.71961392,   70.03706924,   34.2595838 ,    2.6824505 ,
          5.45536517,   36.72384868,   28.59842895,   47.84846104,
         23.35105274,   73.74449418,   71.3425622 ,   91.11353571,
          6.5944991 ,  -11.66559479,    5.96261364,   71.68016333,
         82.11734219,   74.72367703,   66.9871121 ,   79.10244389,
         70.33751227,   72.44976564,   78.35774661,   78.24475246,
         62.46072071,   17.04265176,   15.55028231,   31.14447044,
         70.37808788,   51.06532492,   28.74685539,   37.84781538,
         23.12805389,   62.03089075,   60.48502433,  110.48934422,
         80.40244473,   90.20982009,   26.30959895,   58.54733386,
         60.83344003,   85.63747817,   35.17151939,  -17.82236007])

In [3]:
from backtrader.